@page "/add"
@inject IController controller
@inject IModel model

<input class="text-box single-line p-1" @bind="model.NewItemId" />
<button class="btn btn-primary py-1" data-toggle="modal" data-target="#add" @onclick="controller.AddItemsAsync">
    Add
</button>
<div class="modal fade" id="add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Success</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                New item successfully added!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
