@page "/list"
@inject IController controller
@inject IModel model

<button class="btn btn-primary py-1" @onclick="controller.GetItemsAsync">
    Get All
</button>
<br />
<div>
    @foreach (Item itemData in model.GetItemList)
    {
        <div>@itemData.Id</div>
    }
</div>
